---
layout: article
title: Links
---

<!-- 列表
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Icon</th>
            <th>Description</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
        {% for link in site.data.links %}
            {%- if link.finish_date -%}
            <tr bgcolor=#D8F781>
            {%- else -%}
            <tr>
            {%- endif -%}
                <td>{{ link.name }}</td>
                <td><img src="{{ link.icon }}" class="img-rounder" width="100" height="100"/></td>
                <td>{{ link.description }}</td>
                <td><a href="{{ link.url }}">{{ link.url}}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table> -->


<style>
.linkurl {
    text-decoration: none;
}
</style>
<html>
<head>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"/>
</head>
<div class="mdui-container" >
    <div class="mdui-row-sm-2 mdui-row-md-4">
        {% for link in site.data.links %}
        <div class="mdui-col">
            <a class="linkurl" href="{{link.url}}" target="_blank">
            <div class="mdui-card mdui-hoverable mdui-color-grey-400">
                <div class="mdui-card-header">
                    <img class="mdui-card-header-avatar" src="{{link.icon}}" />
                    <div class="mdui-card-header-title">{{link.name}}</div>
                    <div class="mdui-card-header-subtitle">{{link.description}}</div>
                </div>
            </div>
            </a>
            <br>
        </div>
        {% endfor %}
    </div>
</div>

